/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: #000000;
    --main-color: #35a6b7;
}

section {
    padding: 50px 10px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo span{
    color: var(--main-color);

}

.navbar {
    position: relative;
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a #cart,
#search {
    font-size: 1.5rem;
    padding: 3px 10px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a #cart:hover {
    color: var(--main-color);
}

.navbar a #search:hover {
    color: var(--main-color);
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.home {
    width: 100%;
    min-height: 80vh;
    background-image: url(../img/bg3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}


.home-text h1 {
    font-size: 2.7rem;
}

.home-text p {
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}

.home-text span {
    color: var(--main-color);
}

.btn {
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}

.btn:hover {
    background: #8cdae7;
}
/* Styles for the popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
}

/* Styles for the popup content */
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
}

/* Styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #555;
    text-decoration: none;
}
/* Image Slider */
.slider-container {
    padding: 2rem;
    margin-bottom: 50px;
}

.slider-wrap {
    position: relative;
    max-width: 50%; /* Adjusted to occupy full width */
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 10;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 2rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    height: 100%;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    animation: slide 10s infinite linear;
    max-width: 100%;
    height: auto;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

/* Style the Shop Now button */
.btn {
    padding: 10px 20px;
    background: #35a6b7;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

/* Style the Shop Now button hover */
.btn:hover {
    background: #8cdae7;
}

/* When the popup container is targeted (clicked), display it */
.popup:target {
    display: flex;
}

.shop-container,
.new-container,
.all-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    height: auto;
    box-shadow: 1px 4px 4px rgba(246, 8, 8, 0.1);
    border-radius: 44px 5px 5px 4px;
    float: left;
}

.box .box-img {
    width: 100%;
    height: 400px;
}

.box .box-img img {
    max-width: 100%;
    height: 80%;
    object-position: center;
}

.box .box-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.title-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3 {
    font-size: 1rem;
    font-weight: 600;
}

.box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}

.stars .bx {
    color: var(--main-color);
}

.box .bx-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}

.box .bx-cart:hover {
    background: #8cdae7;
}
/* Style for discount words */
.discount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color); /* Use your main color */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1; /* Ensure it's above the image */
}


/* Style for old (strike-through) price */
.old-price {
    color: #888; /* You can adjust the color as needed */
    text-decoration: line-through;
    margin-right: 5px;
}

/* Style for new (discounted) price */
.new-price {
    color: var(--main-color); /* Use your main color */
    font-weight: bold;
}

/* Style for the search box */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    flex: 1; /* Fill remaining space */
    padding: 2px; /* Adjust padding */
    border: 1px ;
    border-radius: 5px;
    margin-right: 5px;
}

.search-box button {
    padding: 2px 5px; /* Adjust padding */
    border: none;
    background-color: #fff;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}
.search-box button:hover {
    background: var(--main-color);
}

img {
    max-width: 50%;
    border-radius: 5px;
}

.new-container .box {
    border-radius: 4px;
}

.new-container .box .box-img{
    border-radius: 4px;
}

/* Style for About */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .about-img img {
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .about-text span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
  }
  
  .about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
  }
  
  .about-text .btn {
    padding: 10px 20px;
    background: #35a6b7;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .about-text .btn:hover {
    background: #8cdae7;
  }

  
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsletter h2{
    color: #fff;
}
.news-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.news-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px; 
}
.news-box .btn{
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1rem;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box span{
    color: var(--main-color);
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    margin-left: 10px;
    color: var(--text-color);
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
    cursor: pointer;
}
.footer-box li a:hover{
    color: var(--main-color);
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info span{
    color: var(--text-color);

}
.copyright{
    padding: 20px;
    text-align: center;
}

/* Style for the dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    display: block;
    text-align: left;
    color: var(--text-color);
}

.dropdown-content a:hover {
    color: var(--main-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button */
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 16px;
    background-color: inherit;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: var(--main-color)
}
/* Style for health benefits */
.health-benefits {
    padding: 100px 0;
    background-color: #f9f9f9;
  }
  
  .benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.benefits-container h2 {
  margin-bottom: 20px;
}
  
  .benefit {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .benefit img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .benefit h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .benefit p {
    font-size: 1rem;
    color: #666;
  }

/* banner section styles */
.banner {
    text-align: center;
    background-color: #ffffff;
    /* padding: 60px 0; */
    margin: 0 auto;
}
 
.banner img {
    max-width: 60%;
    height: auto;
}

/* Contact form styles */
.contact-form {
    padding: 5px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
 
/* Contact info styles */
.contact {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.contact h2 {
    margin-bottom: 20px;
}

/* Styles for shopping cart */
.shopping-cart{
    padding: 100px 0;
    background-color: #f9f9f9;
  }
.shopping-cart h2{
    text-align: center;
    color: var(--text-color);
}
.cart-container {
    max-width: 90%;
    margin: auto;
    padding: 3%;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 115, 255, 0.71);
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    padding: 1%;
    border-bottom: 0.1rem solid whitesmoke;
  }
  
  .cart-item img {
    max-width: 15%;
    height: auto;
    margin-right: 2%;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .remove-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .checkout-btn {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
/* Making Responsive */
@media (max-width: 991px) {
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    
}
@media (max-width: 881px){
    .home-text h1{
        font-size: 2rem;
    }
    .shop-container,.new-container, .all-container{
        grid-template-columns: repeat(auto-fit, minmax(218px, auto));
    }
}
@media (max-width: 768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;    
    }

    .slider-wrap {
        max-width: calc(100% - 4rem); /* Adjusted for padding */
        overflow: hidden; /* Prevent horizontal scrolling */
    }
    
    .slider {
        aspect-ratio: auto; /* Adjust aspect ratio for smaller screens */
    }
    
    .slider img {
        flex: 0 0 100%; /* Ensure images take full width */
        max-height: 100%; /* Prevent images from overflowing vertically */
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: 0.2s ease;
        text-align: center;
        /* Adjust the transition property to smoothly show/hide the dropdown */
        transition: top 0.3s ease;
    }
    .navbar.active {
        top: 100%; /* Display the dropdown menu when active */
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
        color: var(--text-color);
    }

    .navbar a:hover {
        color: #fff;
        background-color: var(--main-color);
    }

    .dropdown-content {
        opacity: 1; /* Ensure the dropdown content is visible when active */
        visibility: visible;
        padding-left: 15px;
        
    }
    .search-box input[type="text"] {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .search-box button {
        padding: 8px 10px; /* Adjust padding */
    }
    .benefits-container h2 {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
    .cart-item img {
        max-width: 30%;
      }
    
      .remove-btn,
      .checkout-btn {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
      }
    
    /* Style for the Payment section */
    .footer-box.payment {
    grid-column: span 2; /* Span two columns on mobile */
    }
    .footer {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }

    /* Ensure the map occupies the entire width */
    iframe {
        width: 100%;
        height: 200px; /* Adjust the height as needed */
    }
}


